<app-customer-navbar></app-customer-navbar>
<main class="container">
        <div class="card" style="width: 18rem;margin-top: 80px;">
          <div class="card-body">
            <h5 class="card-title">Savings account</h5>
            <p class="card-text">Acc no:- XXXXXXX3456</p>
            <a href="#" class="btn btn-primary">View account</a>
          </div>
      </div>
        <div class="card" style="width: 18rem;margin-top: 30px;">
          <div class="card-body">
            <h5 class="card-title">Current account</h5>
            <p class="card-text">Acc no:- XXXXXXX1456</p>
            <a href="#" class="btn btn-primary">View account</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 30px;">
          <div class="card-body">
            <h5 class="card-title">Overdraft account</h5>
            <p class="card-text">Acc no:- XXXXXXX9980</p>
            <a href="#" class="btn btn-primary">View account</a>
          </div>
        </div>
    </main>