<div id="layout-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Search for a book</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">View book by book id</h4>
                        </div>
                        <div class="card-body p-4">
                        <form (submit)="findBookDetails()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <input class="form-control" [(ngModel)]="bookId" type="text" id="bookId" name="bookId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="searchBtnDisabled" [innerHTML]="searchBtnContent"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form (submit)="updateBookDetails()">
                        <div class="card">
                            <div class="card-header">
                                <h4>Modify book details from here</h4>
                            </div>
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="isbn" class="form-label">ISBN</label>
                                                <input class="form-control" type="text" id="isbn" name="isbn" [(ngModel)]="addBook.isbn">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="bookTitle" class="form-label">Book title</label>
                                            <input class="form-control" type="text" id="bookTitle" name="bookTitle" [(ngModel)]="addBook.bookTitle">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bookDescription" class="form-label">Book description</label>
                                                <input class="form-control" type="text" id="bookDescription" name="bookDescription" [(ngModel)]="addBook.bookDescription">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="noOfPages" class="form-label">No of pages</label>
                                            <input class="form-control" type="text" id="noOfPages" name="noOfPages" [(ngModel)]="addBook.noOfPages">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="noOfAvailableCopies" class="form-label">No of copies available</label>
                                                <input class="form-control" type="text" id="noOfAvailableCopies" name="noOfAvailableCopies" [(ngModel)]="addBook.noOfAvailableCopies">
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="choices-single-default" class="form-label">Set book availability status</label>
                                            <select class="form-select" data-trigger name="choices-single-default"
                                                id="choices-single-default"
                                                placeholder="This is a search placeholder">
                                                <option value=""> --- set status --- </option>
                                                <option value="true" [selected]="addBook.isAvailable === true">AVAILABLE</option>
                                                <option value="false" [selected]="addBook.isAvailable === false">NOT AVAILABLE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="h6">Published date</p>
                                        <div class="mb-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="publishedYear" class="form-label font-size-13 text-muted">Year</label>
                                                    <select class="form-select" data-trigger name="publishedYear" id="publishedYear" [(ngModel)]="publishedDate.year">
                                                        <option value="0"> --- set year --- </option>
                                                        <option *ngFor="let year of years" value="{{year}}" [selected]="year === publishedDate.year">{{year}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="publishedMonth" class="form-label font-size-13 text-muted">Month</label>
                                                    <select class="form-select" data-trigger name="publishedMonth" id="publishedMonth" [(ngModel)]="publishedDate.month" (change)="fetchDays()">
                                                        <option value=""> --- set month --- </option>
                                                        <option *ngFor="let month of months;let i = 'index+1'" value="{{i}}" [selected]="i === publishedDate.month">{{month}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="publishedDay" class="form-label font-size-13 text-muted">Day</label>
                                                    <select class="form-select" data-trigger name="publishedDay" id="publishedDay" [(ngModel)]="publishedDate.day">
                                                        <option value="0"> --- set day --- </option>
                                                        <option *ngFor="let day of days" value="{{day}}" [selected]="day === publishedDate.day">{{day}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="bookCategory" class="form-label">Select book category</label>
                                            <select class="form-select" data-trigger name="bookCategory" id="bookCategory" [(ngModel)]="addBook.categoryId">
                                                <option value="0"> --- set category --- </option>
                                                <option *ngFor="let category of categories" value="{{category.categoryId}}" [selected]="category.categoryId === addBook.categoryId">{{category.categoryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="bookPrice" class="form-label">Book price</label>
                                                <input class="form-control" type="text" id="bookPrice" name="bookPrice" [(ngModel)]="addBook.bookPrice">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <br>
                                            <button type="button" class="btn btn-secondary waves-effect waves-light" (click)="appendAuthorForm()">
                                                <i class="bx bx-plus-medical font-size-16 align-middle me-2"></i> Add author
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let author of authors; index as i">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="example-text-input" class="form-label">Author {{i+1}} first name</label>
                                            <input class="form-control" [(ngModel)]="author.firstName" type="text" id="author{{i}}FirstName" name="author{{i}}FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label for="example-text-input" class="form-label">Author {{i+1}} last name</label>
                                            <input class="form-control" [(ngModel)]="author.lastName" type="text" id="author{{i}}LastName" name="author{{i}}LastName">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label class="form-label">Remove author</label><br>
                                            <button (click)="removeAuthor(i)" type="button" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bxs-minus-circle font-size-16 align-middle"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="authorBio" class="form-label">Author biography</label>
                                                <textarea id="author{{i}}Bio" class="form-control" rows="2" placeholder="Enter author bio"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light" [disabled]="updateBtnDisabled" [innerHTML]="updateBtnContent"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>